#admin-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.admin-link {
    background: #fa6b2a; /* Usa el color que prefieras */
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.admin-link:hover {
    background: #fa834c; /* Cambia de color al pasar el cursor */
}
