/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(243, 170, 53, 0.403);
    color: #333;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s;
}

.hamb {
    color: #e69a23;
    font-size: 40px;
    display: none;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 1350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

.btn {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nosotros {
    padding: 20px;
    margin-top: 40px;
}

.nos {
    text-align: center;
    color: #f46e20;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.text-container {
    padding: 20px;
    color: #000;
}

.img-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    margin-left: 15%;
}

.menu-title {
    text-align: center;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    margin: auto; /* Centra el contenedor */
}

.item {
    display: flex;
    flex-direction: column;
    background-color: #e69a23;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.producto-nombre {
    font-weight: bold;
    font-size: 1.2rem;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100%; /* Puedes ajustar esta altura según sea necesario */
}

.producto {
    /* Tamaño mínimo en altura */
    width: 250px;
    height: 300px;
    object-fit: cover;
  
}

.ingredientes {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    display: none; /* Inicialmente oculto */
}

.producto-precio {
    font-size: 1rem;
}

.item-actions {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    gap: 10px; /* Espacio entre los botones */
}

.ver-ingredientes, .ordenar {
    padding: 3px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1; /* Ocupa espacio disponible igualmente */
}

.ver-ingredientes:hover, .ordenar:hover {
    background-color: #555;
}

.item-container.rotar .producto {
    transform: rotateY(180deg);
}

.item-container.rotar .ingredientes {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(360deg);
}

footer {
    background-color: #f46e20;
    color: black;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
}
