/* Estilos base, aqui iran header, nav, y footer*/

/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

/********************HEADER**********************/
/*    */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    min-height: 180px;
    color: #333;

}

/********************NAV*************************/

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.logo {
    width: 80px;
    height: 80px;
}

.nav {
    display: none;
}

.nav.show {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}


.nav a:hover {
    background-color: #f46e20;
    color: #fff;
    transform: scale(1.1);

}


/**************Hamburguer*********************/


.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #f46e20;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/*************CARRITO (mobile-first)**************/
.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem; /* separa un poco del borde o del menú */
}

.cart-icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
  display: block;
}

/* 🔹 Contador del carrito */
#cartCount {
  position: absolute;
  top: -8px;
  right: -6px;
  background: #ff9800;
  color: #221d1d;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
}


/*************RESPONSIVE**************/
@media (min-width: 768px) {
  

  .cart-icon {
    width: 40px;
    height: 40px;
  }

  #cartCount {
    top: -8px;
    right: -8px;
    font-size: 0.8rem;
  }
}

/*************FOOTER*************************/
footer {
    background-color: #f46e20;
    color: black;
    text-align: center;
    padding: 1em 0;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
}

@media (min-width: 36rem) {

    .nav {
        display: flex;
    }

    .nav.show {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
    }

    .hamburger {
        display: none;
    }

}

@media (min-width: 900px) {
    header {
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
    }

    .nav {
        gap: 2rem;
    }



}