@media (min-width: 64rem) {
  .hero {
    height: 90vh;
  }

  .content h1 {
    font-size: 3rem;
  }

  .content h3 {
    font-size: 1.5rem;
  }

  .content {
    background: rgba(0, 0, 0, 0); 
    
  }

  .product-menu {
    grid-template-columns: repeat(3, 1fr);
  }
  /***************nosotros*****************************/
  .nosotros-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
  }

  .img-container img {

    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    margin-left: 15%;
  }

   .filtros{
    display: flex;
  }

}