
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: white;
}

main {
    background-color: #EAA83E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

h1, h2, h3 {
    color: #091625;
}

#producto-detalle, #adicionales, #opciones-envio {
    margin-bottom: 20px;
    
}

#producto-detalle {
    width: 100%;
    height: auto;
    border-radius: 5px;
  
}
.img-container{
    width: 200px;
    height: 200px;
   
}



.imagen-producto {
    
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
}


#producto-precio, #total-pedido, .adicional-item span:last-child {
    color: #091625;
    font-weight: bold;
}

input[type="number"], input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #e69a23;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

button {
    background-color: #e69a23;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #f46e20;
}

/* CSS para alinear los productos, adicionales y envío */
/* .producto-item, .adicional-item, .envio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
} */

.producto-item, .adicional-item, .envio-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.producto-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


.producto-detalle {
    display: flex;
    align-items: center;
}

/* .producto-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
} */

.producto-nombre, .adicional-texto {
    flex-grow: 1;
}

.producto-precio, .adicional-precio {
    font-weight: bold;
}

/* Separar el total en negrita y más grande */
#total-pedido {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}
